.cell-popup-container {
position: relative;
top: -94px; left: 151px;
width: 300px;
height: 315px;

filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.25));
}

.decorate {
position: absolute;
top: 10px; left: -19px;
width: 24px;
height: 13.55px;

/* light-100 */

filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(207deg) brightness(103%) contrast(101%);
/* filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(23deg) brightness(95%) contrast(103%); */
transform: rotate(-180deg);
}

.popup-content-container {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px;
gap: 8px;

position: absolute;
width: 266.32px;
height: 291px;

background: #FFFFFF;
}

.frame1 {
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;

width: 266.32px;
height: 8px;
}

.frame1-icon {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 20px;
height: 20px;
}

.frame1-icon img {
    
width: 12px;
height: 12px;

/* dark-100 */

filter: invert(47%) sepia(0%) saturate(677%) hue-rotate(136deg) brightness(88%) contrast(97%);
}

.frame2 {
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

width: 266.32px;
height: 28px;
}

.frame2-input {
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 6px 12px;

width: 266.32px;
height: 28px;

/* light-100 */

background: #FFFFFF;
/* neutral-200 */

border: 1px solid #CFCFCF;
/* input-inner-shadow */

box-shadow: inset 0px 0px 1px 2px rgba(0, 0, 0, 0.25);
border-radius: 4px;
}

.frame2-input-invalid {
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 6px 12px;

width: 266.32px;
height: 28px;

/* light-100 */

background: #FFFFFF;
/* neutral-200 */

border: 1px solid #E94E4E;
/* input-inner-shadow */

box-shadow: inset 0px 0px 1px 2px rgba(0, 0, 0, 0.25);
border-radius: 4px;
}

input::placeholder {
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 16px;

/* neutral-200 */

color: #CFCFCF;
}

textarea::placeholder {
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 16px;

/* neutral-200 */

color: #CFCFCF;
}

.frame3 {
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 20px;

width: 266.32px;
height: 18px;
}

.frame4 {
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

width: 266.32px;
height: 28px;
}

.frame4 input {
    display: flex;
flex-direction: row;
align-items: center;
padding: 6px 12px;

width: 242.32px;
height: 16px;

/* light-100 */

background: #FFFFFF;
/* neutral-200 */

border: 1px solid #CFCFCF;
/* input-inner-shadow */

box-shadow: inset 0px 0px 1px 2px rgba(0, 0, 0, 0.25);
border-radius: 4px;
}

.frame4 input::placeholder {
width: 107px;
height: 16px;
}

.frame5 {
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 0px 16px;

width: 266.32px;
height: 44px;
}

.frame5-input {
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 6px 12px;

width: 266.32px;
height: 28px;
/* light-100 */
background: #FFFFFF;
/* neutral-200 */
border: 1px solid #CFCFCF;
/* input-inner-shadow */
box-shadow: inset 0px 0px 1px 2px rgba(0, 0, 0, 0.25);
border-radius: 4px;
}

.frame5-input-invalid {
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 6px 12px;

width: 266.32px;
height: 28px;
/* light-100 */
background: #FFFFFF;
/* neutral-200 */
border: 1px solid #E94E4E;
/* input-inner-shadow */
box-shadow: inset 0px 0px 1px 2px rgba(0, 0, 0, 0.25);
border-radius: 4px;
}

.frame6 {
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;


width: 266.32px;
height: 125px;
}

.frame6 textarea {
resize: none;
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 6px 12px;

width: 266.32px;
height: 125px;

/* light-100 */
background: #FFFFFF;
/* neutral-200 */
border: 1px solid #CFCFCF;
/* input-inner-shadow */
box-shadow: inset 0px 0px 1px 2px rgba(0, 0, 0, 0.25);
border-radius: 4px;
}

.extra-button-ok {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 6px;
    
    width: 51px;
    height: 18px;
    
    /* light-100 */
    
    background: #FFFFFF;
    /* button-inner-shadow */
    
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.extra-button-ok p {
    width: 39px;
height: 14px;

/* font-button-title */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
/* identical to box height */


/* dark-200 */

color: #292929;
}

.extra-button-delete {
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 2px 6px;

width: 59px;
height: 18px;

/* light-100 */

background: #FFFFFF;
/* button-inner-shadow */

box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
border-radius: 4px;
}

.extra-button-delete p {
    width: 47px;
height: 14px;

/* font-button-title */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
/* identical to box height */


/* dark-200 */

color: #292929;
}

.extra-button-ok:hover {
background: #6B6B6B;
cursor:default
}

.extra-button-ok:hover p {
color: #FFFFFF;
}

.extra-button-ok:active {
background: #CFCFCF;
cursor:default;
user-select: none;

}

.extra-button-ok p:active {
color: #FFFFFF;
}

.extra-button-delete:hover {
background: #6B6B6B;
cursor:default
}

.extra-button-delete:hover p {
color: #FFFFFF;
}

.extra-button-delete:active {
background: #CFCFCF;
cursor:default;
user-select: none;

}

.extra-button-delete p:active {
color: #FFFFFF;
}